body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.header {
    background-color: #1F2937;
    padding: 16px 120px 16px 160px;
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

a, .subtext {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

a {
    padding: 10px 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}



.opener {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opener .left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.top-signup, .bottom-sign {
    width: 120px;
    background-color: #3882f6;
    color: white;
    padding: 8px 4px;
    border-radius: 12px;
    border: solid 1px white;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.top-signup {
    border: none;
}

a:hover, button:hover {
    background-color: #e74c3c;
}

a:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.opener .right {
    flex-shrink: 0;
    width: 50%;
}

.opener .right .p-hold {
    display: flex;
    background-color: gray;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: white;
}



.content-sec {
    padding: 48px 120px 48px 160px;
    text-align: center;
}

.content-title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 32px;
}

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 16px;
}

.desc {
    color: gray;
    font-size: 18px;
}

.img {
    display: flex;
    height: 160px;
    width: 160px;
    border: solid 3px blue;
    border-radius: 16px;
}



.quotes-sec {
    padding: 48px 120px 48px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.quotes {
    width: 800px;
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.person {
    align-self: flex-end;
    padding-right: 160px;
    font-weight: 450;
    font-size: 24px;
}



.signup-sec {
    padding: 100px 120px 100px 160px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 176px;
    background-color: #3882f6;
    height: 160px;
    border-radius: 10px;
}

.container .left {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.container .left .top {
    font-size: 24px;
    font-weight: 600;
}

.footer {
    padding: 36px 120px 36px 160px;
    text-align: center;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
}

